[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
prettyformatter = "*"
humanize = "4.6.0"
pyqt5 = "*"
fusion360-streamer = {editable = true, path = "."}

[dev-packages]
autopep8 = "*"
pyinstaller = "*"
