[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = ">=2.31.0"
prettyformatter = "*"
humanize = "4.7.0"
pyqt5 = "*"
fusion360-streamer = {editable = true, path = "."}

[dev-packages]
autopep8 = "*"
pyinstaller = "*"

pywin32 = {version = "*", sys_platform = "== 'win32'"}
pywin32-ctypes = {version = "*", sys_platform = "== 'win32'"}
pefile = {version = "*", sys_platform = "== 'win32'"}

macholib = {version = "*", sys_platform = "== 'darwin'"}
